$main-color: #fede01;
$main-color-dark: #ffb12b;
$alt-color: #edd04a;
$sec-color: #24b4bd;

$nav-link: #fff;
$active-nav-link: #fede01;

$main-text-color: #2f2f2f;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #fbfcfd;
$bg-section-sec: #f1f5f6;
$footer-bg: #11476b;
